#asd
http {
  server {
    listen  80; 
    server_name localhost;
    location / {
        limit_except GET {
          deny all;
        }
        index  youpi.bad_extension;
        root YoupiBanane;
        autoindex on;
    }
    location /directory {
        limit_except GET {
          deny all;
        }
        index  youpi.bad_extension;
        root YoupiBanane;
        autoindex on;
    }
    location ~ .php {
      root html;
      error_page 404 1index.html;
      cgi_root /opt/homebrew/bin/php-cgi;
    }
  }
}
