#asd
http {
  server {
    listen  80; 
    server_name localhost;
    location / {
        limit_except GET {
          deny all;
        }
        index  youpi.bad_extension;
        root YoupiBanane;
        autoindex on;
    }
    location /directory {
        limit_except GET {
          deny all;
        }
        index  youpi.bad_extension;
        root YoupiBanane;
        autoindex on;
    }
    location /directory/nop {
        limit_except GET {
          deny all;
        }
        index  youpi.bad_extension;
        root YoupiBanane/nop;
        autoindex on;
    }
    location /post_body {
        limit_except POST {
          deny all;
        }
        index  youpi.bad_extension;
        root YoupiBanane/nop;
        autoindex on;
        client_max_body_size 100;
    }
    location ~ .bla {
      root ./;
      cgi_root ./cgi_tester;
    }
  }
    server {
    listen  81; 
    server_name localhost;
    location / {
        limit_except POST GET {
          deny all;
        }
        index  index.html;
        root html;
        autoindex on;
        client_max_body_size 9;
    }
  }
}
