#asd
http {
  server {
    listen  80; #1asdasd
    server_name localhost;
    
    location / {
        limit_except GET POST {
          deny all;
        } # asdasd4
        # asdsdddas5
        index  index.html;
        autoindex on;
    }
    # 
    # 
    # asd 
    #
    location /a {
        index  index.html;
        root html;
        autoindex on;
    }
    location /aa {
        index  index.html;
        root html;
        autoindex on;
    }
    location ~ .php {
      index  index.html;
      root html;
      autoindex on;
      cgi_root html;
    }
  }
  server {
    listen       80;
    server_name  host88;
    location /a {
        root   html;
        index  50x.html;
    }
  }
}